<form class="col s12 m12">
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">account_circle</i>
      <input id="icon_prefix" type="text" class="validate">
      <label for="icon_prefix">Username</label>
    </div>

    <div class="input-field col s12">
      <i class="material-icons prefix">email</i>
      <input id="icon_email" type="email" class="validate">
      <label for="icon_email">Your Email</label>
    </div>

    <div class="input-field col s12">
      <i class="material-icons prefix">lock_open</i>
      <input id="icon_password" type="password" class="validate">
      <label for="icon_password">Password</label>
    </div>

    <div class="input-field col s12">
      <i class="material-icons prefix">lock_open</i>
      <input id="icon_password_repeat" type="password" class="validate">
      <label for="icon_password_repeat">Password</label>
    </div>
  </div>
</form>

